@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Archivo', sans-serif;


    /* remove the os cursor icon */
    cursor: none;
}

/* Container Section */
.container {
    display: grid;
    grid-template-columns: repeat(12, calc(100% / 12));
    /* column-gap: 32px; */
    grid-auto-rows: auto;
    margin-left: 44px;
    margin-right: 44px;
}

/* Navbar Section */
nav {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px;
    align-items: center;
}

#nav-logo {
    grid-column: 2 / 3;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    justify-self: end;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;

    /* remove cursor hand icon */
    cursor: none;
}

nav a:hover {
    color: blue;
    text-decoration: none;
}

nav .links {
    grid-column: 1 / 2;
    justify-self: start;
}

#work-link {
    margin-right: 8px;
}

#about-link {
    margin-left: 8px;
    margin-right: 8px;
}

#photos-link {
    margin-left: 8px;
    margin-right: 8px;
}

#contact-link {
    margin-left: 8px;
}

.sticky {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60px;
    align-items: center;
}


/* Hero Section */
.hero {
    padding-top: 95px;
    grid-column: 1 / span 12;
}

.hero h1 {
    font-size: 53px;
    font-weight: 500;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all 1s ease-out;
}

.asterix-hero {
    display: inline;
    width: 4rem;
}

.underline {
    text-decoration: underline;
}

/* Photos Section */
.photos-container {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    grid-gap: 10px;
    padding: 95px 0;
    overflow: auto;
}

.photo {
    background-image: none;
    background-color: rgba(0, 220, 150, 1);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.photo img:hover {
    opacity: 0;
    transition: 0.6s;
}

/* Custom Cursor Section */
.cursor-hover {
    background-color: blue !important;
    transform: translate(-50%, -50%) scale(2) !important;
/*    mix-blend-mode: difference !important;*/
}

.kursorChild {
    visibility: hidden !important;
}

.hoverable:hover {
    color: blue;
}


/* Custom Scrollbar Section */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: none;
}